version: "3.8"

services:

  postgres:
    image: postgres:15
    container_name: eventos_postgres
    restart: always
    environment:
      POSTGRES_DB: eventos_db
      POSTGRES_USER: eventos_user
      POSTGRES_PASSWORD: eventos_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: eventos_redis
    restart: always
    ports:
      - "6379:6379"

  redis-local:
    image: redis:7
    container_name: eventos_redis_local
    restart: always
    ports:
      - "6380:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: eventos_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: eventos_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1




  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: eventos_backend
    depends_on:
      - postgres
      - redis
      - redis-local
      - kafka
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/eventos_db
      SPRING_DATASOURCE_USERNAME: eventos_user
      SPRING_DATASOURCE_PASSWORD: eventos_pass
      SPRING_REDIS_HOST: redis
      SPRING_SESSION_REDIS_HOST: redis-local
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    restart: always

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    container_name: eventos_proxy
    depends_on:
      - backend
      - redis
      - kafka
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET: "c2VjcmV0LWVzdGUtYmllbl9vcmlnaW5hbA=="
      JHIPSTER_SECURITY_AUTHENTICATION_JWT_TOKEN_VALIDITY_IN_SECONDS: 3600
    restart: always

volumes:
  postgres_data:
